.remarkBody {
  margin: 5px auto;
  max-width: 1200px;
  display: grid;
  grid-template-areas:
    ' searchBar addNote'
    ' guide     guide'
    ' results   results';
  grid-template-columns: 22fr 12fr;
  grid-template-rows: auto;
  grid-gap: 10px;
  place-items: center;
}

agm-map {
  height: 400px;
}

#searchBar {
  grid-area: searchBar;
}

#addNote {
  margin-right: 5px;
  grid-area: addNote;
  justify-self: end;
}

#guide {
  width: 100%;
  grid-area: guide;
}

#searchResults {
  width: 100%;
  min-height: 150px;
  grid-area: results;
}
